# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
 'ctrl-shift-{': 'custom-folds:fold-here'
 'ctrl-shift-}': 'custom-folds:unfold-here'
 'ctrl-shift-|': 'custom-folds:toggle-fold'
 'ctrl-alt-shift-[': 'custom-folds:fold-all'
 'ctrl-alt-shift-]': 'custom-folds:unfold-all'
