// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-text-editor::shadow {
	.custom-folds-start {
		.source, .text {
			.comment.block,
			.comment.definition,
			.comment.line {
				color: @text-color-info;
				border-top: 1px solid @text-color-info;

				.leading-whitespace {
					border-top: 1px solid @pane-item-background-color;
				}
			}
		}

		.text.plain {
			color: @text-color-info;
			border-top: 1px solid @text-color-info;

			&.leading-whitespace,
			.leading-whitespace {
				border-top: 1px solid @pane-item-background-color;
			}
		}
	}

	.custom-folds-stop {
		.source, .text {
			.comment.block,
			.comment.definition,
			.comment.line {
				color: @text-color-info;
				border-bottom: 1px solid @text-color-info;

				.leading-whitespace {
					border-bottom: 1px solid @pane-item-background-color;
				}
			}
		}

		.text.plain {
			color: @text-color-info;
			border-bottom: 1px solid @text-color-info;

			&.leading-whitespace,
			.leading-whitespace {
				border-bottom: 1px solid @pane-item-background-color;
			}
		}
	}

	.gutter:hover {
		.line-number.custom-folds-start .icon-right {
			visibility: visible;

			&:hover {
				opacity: 1;
			}
		}
	}
}
